.breadcrumb li {
  align-items: center;
  display: flex;
}

.breadcrumb a {
  padding: 0 0.75em;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
}

.breadcrumb ul,
.breadcrumb ol {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumb.is-centered ol,
.breadcrumb.is-centered ul {
  justify-content: center;
}

.breadcrumb.is-small {
  font-size: 0.75rem;
}

.breadcrumb.has-arrow-separator li + li::before {
  content: "\02192";
}

.breadcrumb.has-bullet-separator li + li::before {
  content: "\02022";
}

/**
.breadcrumb a {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0 0.75em;
}

.breadcrumb a:hover {
  color: darkred;
  border-bottom: 1px;
}
.breadcrumb li:first-child a {
  padding-left: 0;
}

.breadcrumb li.is-active a {
  color: #363636;
  cursor: default;
  pointer-events: none;
}
 */