@font-face {
  font-family: "SangBleuSunriseRegular";
  src: url("../fonts/SangBleuSunrise-Regular-WebM.eot");
  src: url("../fonts/SangBleuSunrise-Regular-WebM.woff") format("woff"),
  url("../fonts/SangBleuSunrise-Regular-WebM.ttf") format("opentype"),
  url("../fonts/SangBleuSunrise-Regular-WebM.svg") format("svg");
}
@font-face {
  font-family: "GillSansRegular";
  src: url("../fonts/SFUGillSansRegular.eot");
  src: url("../fonts/SFUGillSansRegular.woff") format("woff"),
  url("../fonts/SFUGillSansRegular.ttf") format("opentype"),
  url("../fonts/SFUGillSansRegular.svg") format("svg"),
  url("../fonts/SFUGillSansRegular.otf") format("otf");
}
@font-face {
  font-family: "GillSansLight";
  src: url("../fonts/GillSansLight.eot");
  src: url("../fonts/GillSansLight.woff") format("woff"),
  url("../fonts/GillSansLight.ttf") format("opentype"),
  url("../fonts/GillSansLight.svg") format("svg"),
  url("../fonts/GillSansLight.otf") format("otf");
}