.content div::-webkit-scrollbar {
  width: 6px;
}
.content div::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content div::-webkit-scrollbar-thumb {
  background-color: white;
  //outline: 1px solid white;
}