.container .content .left ul {
  list-style-type: none;
  display: block;
}

.btn-group a {
  letter-spacing: .1rem;
  background-color: transparent;
  //border-radius: 4px;
  //border: 1px solid #bbb !important;
  // padding: 10px;
  //white-space: nowrap;
  display: inline-block;
  text-align: center;
}

.btn-group span {
  padding: 5px;
}

.react-icons {
  vertical-align: middle;
  width: 28px !important;
  height: 28px !important;
}

.active {
  color: $link-color;
}