/**
 * Size and breakpoints.
 */
$screen-breakpoint: 768px; //1000px;
$header-height: 80px;

/**
 * Colors, background and fonts.
 */
$background-color: black;
$font-color: white;
$font-size: 16px;

$font-family : 'GillSansRegular', sans-serif;
//$font-family: 'GillSansLight', sans-serif;
//$font-family: 'SangBleuSunriseRegular';
//$font-family: 'Roboto Mono', monospace;

$link-color: darkred;