# ------------------------------------------------------------------------------
# client - ReactJS app
# ------------------------------------------------------------------------------

node_modules/

# ------------------------------------------------------------------------------
# api - Flask
# ------------------------------------------------------------------------------

venv/
__pycache__/

# ------------------------------------------------------------------------------
# IDE - PyCharm
# ------------------------------------------------------------------------------

.idea/
